[MAIN]
disable=
    consider-using-enumerate,
    duplicate-code,
    import-outside-toplevel,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-ancestors,
    trailing-comma-tuple,
    use-dict-literal,

[FORMAT]
max-line-length=120
good-names=
    i,j,k,m,n,v,x,
    fs,li,ok,tm,v1,v2,

[BASIC]
class-rgx=_?[A-Z][A-z0-9]+(_?[A-Z][A-z0-9]+)*
method-rgx=[a-z0-9_]+
attr-rgx=[a-z0-9_]+

[MISCELLANEOUS]
notes=FIXME
