<!doctype html>

<head>
    <title>{{ title }} \ {{ volume.title }}</title>
</head>

<body>
    <table>
        <tr>
            <td valign="top" width="30%">
                <ul>
                    {% for item in toc recursive %}
                        <li>
                            {% if item.is_current %}
                                <strong>{{ item.title }}</strong>
                            {% elif item.is_selected %}
                                <a href="{{ item.href }}"><strong>{{ item.title }}</strong></a>
                            {% else %}
                                <a href="{{ item.href }}">{{ item.title }}</a>
                            {% endif %}

                            {% if item.children %}
                                <ul>
                                    {{ loop(item.children) }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td valign="top">
                <h1>{{ title }}</h1>

                <article>
                    {{ body | indent(20) }}
                </article>

                <hr/>

                <footer>
                    <em>Built at {{ now }}</em>
                </footer>
            </td>
        </tr>
    </table>
</body>