<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <link rel='stylesheet' href='_static/printable.css'/>
    <link rel='stylesheet' href='_static/pygments-colorful.css'/>
</head>
<body>

<div class='toc main-toc'>
    <ul>
        {% for item in toc() recursive %}
            <li>
                <a href='{{ item.url }}'>{{ item.title }}</a>
                {% if item.children %}
                    <ul>
                        {{ loop(item.children) }}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% for page, number, title, body in content %}
    <!-- {{ page.path_in_volume }} -->
    {{ body }}
{% endfor %}

</body>
</html>