@mixin admonition($background, $border) {
    background: $background;
    border-left: .2em solid $border;
    border-radius: .2em;
    margin: .5em 0;
    padding: .2em .5em;

    p {
        margin: 0;
        padding: .5em .5em;
    }
}

div.example {
    @include admonition(#d8f6c7, #84af6c);
}

div.note {
    @include admonition(#d0effa, #59a3b9);
}

div.warning {
    @include admonition(#f6e9ac, #ccbc78);
}